In [2]:
import os
os.chdir('..')

In [3]:
from pathlib import Path
from experiment_complete_eval import create_combined_df

In [5]:
path = Path('experiment_complete')
min_exp = None
max_exp = None
config = None
add_config = True
df = create_combined_df(path, min_exp, max_exp, config,
                        csv_files_to_collect={'': 'param_map/errors.csv'}, add_config=add_config)
df = df[df['graph_size'] != 14]
df

,algorithm,shots,mean_squared_error,mean_absolute_error,mean_squared_error_norm,mean_absolute_error_norm,exp_id,graph_size,backend,number_of_edges
0,qaoa,250,0.814374,0.606072,0.025681,0.107626,61,10,ibmq_ehningen,14
1,cut-qaoa,250,0.966889,0.769572,0.030490,0.136660,61,10,ibmq_ehningen,14
2,qaoa-short,250,0.690346,0.560076,0.021770,0.099458,61,10,ibmq_ehningen,14
3,qaoa,500,0.799434,0.596970,0.025210,0.106009,61,10,ibmq_ehningen,14
4,cut-qaoa,500,0.531927,0.557164,0.016774,0.098941,61,10,ibmq_ehningen,14
...,...,...,...,...,...,...,...,...,...,...
7555,cut-qaoa,9750,0.308306,0.439712,0.012147,0.087279,25,10,ibmq_kolkata,12
7556,qaoa-short,9750,0.779287,0.656051,0.030703,0.130220,25,10,ibmq_kolkata,12
7557,qaoa,10000,0.885625,0.718819,0.034893,0.142679,25,10,ibmq_kolkata,12
7558,cut-qaoa,10000,0.307575,0.438901,0.012118,0.087118,25,10,ibmq_kolkata,12
7559,qaoa-short,10000,0.779351,0.656094,0.030706,0.130229,25,10,ibmq_kolkata,12

In [6]:
# Total number of graphs
len(df['exp_id'].unique())

61

In [7]:
df_f = df[df['algorithm'] == 'qaoa']
df_f = df_f[df_f['shots'] == 10000]
df_f

,algorithm,shots,mean_squared_error,mean_absolute_error,mean_squared_error_norm,mean_absolute_error_norm,exp_id,graph_size,backend,number_of_edges
117,qaoa,10000,0.769330,0.582954,0.024260,0.103520,61,10,ibmq_ehningen,14
237,qaoa,10000,0.399789,0.424714,0.021147,0.097680,59,8,ibmq_ehningen,11
357,qaoa,10000,0.516862,0.435933,0.024158,0.094246,66,8,ibmq_ehningen,12
477,qaoa,10000,0.645091,0.483174,0.025756,0.096546,50,8,ibmq_ehningen,13
597,qaoa,10000,0.745841,0.569174,0.024291,0.102717,68,10,ibmq_ehningen,15
...,...,...,...,...,...,...,...,...,...,...
7077,qaoa,10000,0.545088,0.494773,0.020792,0.096632,13,10,ibmq_guadalupe,13
7197,qaoa,10000,0.491323,0.469821,NaN,NaN,5,8,ibmq_ehningen,11
7317,qaoa,10000,0.487720,0.514658,0.022696,0.111023,14,10,ibmq_kolkata,11
7437,qaoa,10000,0.915490,0.634660,0.022341,0.099144,22,12,ibmq_guadalupe,16
7557,qaoa,10000,0.885625,0.718819,0.034893,0.142679,25,10,ibmq_kolkata,12

In [8]:
df_f.groupby('graph_size').count()

,algorithm,shots,mean_squared_error,mean_absolute_error,mean_squared_error_norm,mean_absolute_error_norm,exp_id,backend,number_of_edges
graph_size,,,,,,,,,
8,18,18,18,18,16,16,18,18,18
10,25,25,25,25,18,18,25,25,25
12,18,18,18,18,16,16,18,18,18

In [9]:
df_f.groupby('backend').count()

,algorithm,shots,mean_squared_error,mean_absolute_error,mean_squared_error_norm,mean_absolute_error_norm,exp_id,graph_size,number_of_edges
backend,,,,,,,,,
ibmq_ehningen,39,39,39,39,33,33,39,39,39
ibmq_guadalupe,5,5,5,5,5,5,5,5,5
ibmq_kolkata,6,6,6,6,5,5,6,6,6
ibmq_montreal,1,1,1,1,0,0,1,1,1
ibmq_mumbai,10,10,10,10,7,7,10,10,10

In [10]:
df_f.groupby('graph_size').min('number_of_edges')['number_of_edges']

graph_size
8      8
10    10
12    13
Name: number_of_edges, dtype: int64

In [11]:
df_f.groupby('graph_size').max('number_of_edges')['number_of_edges']

graph_size
8     14
10    16
12    21
Name: number_of_edges, dtype: int64

In [12]:
df_2 = df_f[df_f['exp_id'].astype(int) > 12]
df_2 = df_2[~df_2['exp_id'].isin(['19', '21', '30'])]
df_2

,algorithm,shots,mean_squared_error,mean_absolute_error,mean_squared_error_norm,mean_absolute_error_norm,exp_id,graph_size,backend,number_of_edges
117,qaoa,10000,0.769330,0.582954,0.024260,0.103520,61,10,ibmq_ehningen,14
237,qaoa,10000,0.399789,0.424714,0.021147,0.097680,59,8,ibmq_ehningen,11
357,qaoa,10000,0.516862,0.435933,0.024158,0.094246,66,8,ibmq_ehningen,12
477,qaoa,10000,0.645091,0.483174,0.025756,0.096546,50,8,ibmq_ehningen,13
597,qaoa,10000,0.745841,0.569174,0.024291,0.102717,68,10,ibmq_ehningen,15
717,qaoa,10000,0.507635,0.531424,0.026094,0.120485,57,8,ibmq_ehningen,11
837,qaoa,10000,0.746852,0.569645,0.022728,0.099373,32,10,ibmq_guadalupe,15
957,qaoa,10000,1.152318,0.649463,0.024617,0.094926,35,12,ibmq_kolkata,19
1077,qaoa,10000,0.762737,0.522668,0.029702,0.103141,69,8,ibmq_ehningen,13
1197,qaoa,10000,0.694053,0.509934,0.025782,0.098282,56,8,ibmq_ehningen,13
1317,qaoa,10000,1.135438,0.654384,0.026819,0.100571,51,12,ibmq_ehningen,17
1437,qaoa,10000,0.727533,0.577311,0.027716,0.112681,58,8,ibmq_ehningen,13
1557,qaoa,10000,0.593357,0.552053,0.024170,0.111420,67,10,ibmq_ehningen,12
1677,qaoa,10000,0.391450,0.471021,0.023573,0.115588,60,8,ibmq_ehningen,10
1917,qaoa,10000,1.345092,0.798609,0.029369,0.118005,33,12,ibmq_mumbai,19
2037,qaoa,10000,0.903068,0.627619,0.027172,0.108867,20,10,ibmq_ehningen,15
2157,qaoa,10000,0.668619,0.551908,0.028636,0.114217,18,10,ibmq_mumbai,11
2277,qaoa,10000,1.372309,0.789272,0.027281,0.111283,27,12,ibmq_ehningen,19
2637,qaoa,10000,0.961722,0.656175,0.026995,0.109934,29,10,ibmq_mumbai,16
2757,qaoa,10000,0.654621,0.596661,0.035023,0.138011,45,8,ibmq_ehningen,11
2997,qaoa,10000,0.479474,0.488689,0.018493,0.095974,28,10,ibmq_kolkata,12
3477,qaoa,10000,1.114990,0.802835,0.038615,0.149406,26,10,ibmq_ehningen,13
3837,qaoa,10000,0.982438,0.732397,0.047301,0.160705,38,8,ibmq_ehningen,12
3957,qaoa,10000,0.663305,0.614720,0.035971,0.143151,36,8,ibmq_ehningen,11
4077,qaoa,10000,0.473891,0.497069,0.020812,0.104168,31,10,ibmq_guadalupe,11
4197,qaoa,10000,0.889341,0.607271,0.021789,0.095052,65,12,ibmq_ehningen,17
4317,qaoa,10000,0.926308,0.667087,0.025760,0.111244,62,12,ibmq_ehningen,16
4437,qaoa,10000,0.410262,0.449016,0.031723,0.124858,54,8,ibmq_ehningen,8
4557,qaoa,10000,1.014420,0.680077,0.023512,0.103536,53,12,ibmq_ehningen,17
4797,qaoa,10000,0.964153,0.656022,0.029674,0.115090,37,10,ibmq_kolkata,15
4917,qaoa,10000,0.773891,0.643045,0.039274,0.144862,39,8,ibmq_mumbai,11
5037,qaoa,10000,0.906593,0.654488,0.022014,0.101988,52,12,ibmq_mumbai,17
5157,qaoa,10000,0.337120,0.453672,0.019414,0.108870,55,8,ibmq_ehningen,10
5277,qaoa,10000,0.651915,0.473014,0.025834,0.094162,63,8,ibmq_ehningen,13
5397,qaoa,10000,0.835052,0.625342,0.027266,0.112998,64,10,ibmq_ehningen,15
5517,qaoa,10000,1.308524,0.745582,0.025584,0.104252,46,12,ibmq_ehningen,20
5637,qaoa,10000,1.178498,0.639236,0.022012,0.087362,70,12,ibmq_ehningen,20
5757,qaoa,10000,0.951919,0.603459,0.020029,0.087534,24,12,ibmq_ehningen,20
5877,qaoa,10000,1.430903,0.842087,0.027891,0.117567,23,12,ibmq_ehningen,20
6117,qaoa,10000,1.525096,0.846070,0.029432,0.117534,15,12,ibmq_guadalupe,21
6477,qaoa,10000,0.861780,0.679616,0.024216,0.113924,71,12,ibmq_ehningen,15
6597,qaoa,10000,1.249593,0.695438,0.029252,0.106403,49,12,ibmq_ehningen,16
6717,qaoa,10000,0.881314,0.560184,0.030622,0.104420,40,8,ibmq_mumbai,14
7077,qaoa,10000,0.545088,0.494773,0.020792,0.096632,13,10,ibmq_guadalupe,13
7317,qaoa,10000,0.487720,0.514658,0.022696,0.111023,14,10,ibmq_kolkata,11
7437,qaoa,10000,0.915490,0.634660,0.022341,0.099144,22,12,ibmq_guadalupe,16
7557,qaoa,10000,0.885625,0.718819,0.034893,0.142679,25,10,ibmq_kolkata,12

In [13]:
df_2.groupby('graph_size').count()

,algorithm,shots,mean_squared_error,mean_absolute_error,mean_squared_error_norm,mean_absolute_error_norm,exp_id,backend,number_of_edges
graph_size,,,,,,,,,
8,16,16,16,16,16,16,16,16,16
10,15,15,15,15,15,15,15,15,15
12,16,16,16,16,16,16,16,16,16

In [14]:
df_2.groupby('graph_size').min('number_of_edges')['number_of_edges']

graph_size
8      8
10    11
12    15
Name: number_of_edges, dtype: int64

In [15]:
df_2.groupby('graph_size').max('number_of_edges')['number_of_edges']

graph_size
8     14
10    16
12    21
Name: number_of_edges, dtype: int64

In [16]:
df_2.groupby('backend').count()

,algorithm,shots,mean_squared_error,mean_absolute_error,mean_squared_error_norm,mean_absolute_error_norm,exp_id,graph_size,number_of_edges
backend,,,,,,,,,
ibmq_ehningen,31,31,31,31,31,31,31,31,31
ibmq_guadalupe,5,5,5,5,5,5,5,5,5
ibmq_kolkata,5,5,5,5,5,5,5,5,5
ibmq_mumbai,6,6,6,6,6,6,6,6,6